@import "tailwindcss";
@import '../public/fonts/index.css';

@custom-variant dark (&:where(.dark, .dark *));

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

html,
.white {
  @apply bg-white dark:bg-neutral-900 dark:text-white/90
}

.div-border,
.tab-list {
  @apply border-neutral-200 dark:border-neutral-700
}

.btn-primary-color {
  @apply text-white dark:text-neutral-900
}

.btn-primary,
.tab-indicator {
  @apply bg-neutral-900 dark:bg-white
}

.btn-primary {
  @apply hover:bg-neutral-800 dark:hover:bg-neutral-200
}

.fore {
  @apply text-neutral-500 dark:text-neutral-300
}

.gray-container-100 {
  @apply border border-neutral-300 dark:border-neutral-700 bg-neutral-100 dark:bg-neutral-800 rounded-2xl p-2
}

.tab-list {
  @apply relative flex items-center border-b-1
}

.tab-indicator {
  @apply absolute -bottom-[1px] h-[2px] transition-all duration-100 ease-in-out
}

svg {
  width: auto;
}

svg:not([fill=none]) {
  fill: currentColor;
}

a,
a *,
button:not([disabled]),
button:not([disabled]) *,
label,
label *:not(input):not(textarea),
input[type='checkbox'],
input[type='radio'],
input[type='submit'],
input[type='reset'],
summary,
summary *,
::-webkit-calendar-picker-indicator,
::-webkit-search-cancel-button {
  cursor: pointer;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  height: 9px;
  width: 9px;
}

::-webkit-scrollbar {
  background: hsl(0, 0%, 85%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 65%);
}

::-webkit-scrollbar-thumb:active {
  background: hsl(0, 0%, 60%);
}

.dark::-webkit-scrollbar,
.dark ::-webkit-scrollbar {
  background: hsl(0, 0%, 20%);
}

.dark::-webkit-scrollbar-thumb,
.dark ::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 45%);
}

.dark::-webkit-scrollbar-thumb:active,
.dark ::-webkit-scrollbar-thumb:active {
  background: hsl(0, 0%, 50%);
}