@import "tailwindcss";
@import '../public/fonts/index.css';

@custom-variant dark (&:where(.dark, .dark *));

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

#root {
  --h-h: 3rem;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  min-width: 350px;
}

@media screen and (min-width: 640px) {
  #root {
    --n-w: 60px;
    display: grid;
    grid-template-columns: var(--n-w) calc(100vw - var(--n-w));
    grid-template-columns: var(--n-w) calc(100dvw - var(--n-w));
  }

  #root>header {
    grid-column: 1 / 3;
  }

  #root>aside {
    grid-column: 1 / 2;
    position: sticky;
    width: var(--n-w);
    height: calc(100vh - var(--h-h));
  }

  main {
    grid-column: 2 / 3;
  }
}

@media screen and (min-width: 640px) and (max-width: 900px) {
  #root>aside a span {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  #root {
    --n-w: 175px
  }
}

@media screen and (min-width: 1024px) {
  #root {
    --h-h: 3.5em;
  }
}

html,
.input .input,
.white {
  @apply bg-white dark:bg-neutral-900 dark:text-neutral-200
}

.div-border,
.tab-list {
  @apply border-neutral-200 dark:border-neutral-700
}

.div-y-neutral {
  @apply divide-y divide-neutral-300 dark:divide-neutral-700
}

.btn {
  @apply flex justify-center items-center gap-1 rounded-lg font-bold transition-colors
}

.btn-primary,
.btn-primary-color {
  @apply text-white dark:text-neutral-900
}

.btn-primary,
.tab-indicator {
  @apply bg-neutral-900 dark:bg-white
}

.btn-primary {
  @apply hover:bg-neutral-800 dark:hover:bg-neutral-200
}

.btn-secondary {
  @apply bg-neutral-100 text-neutral-700 dark:bg-neutral-800 dark:text-neutral-300 hover:bg-neutral-200 dark:hover:bg-neutral-900
}

.btn-primary-danger {
  @apply bg-red-500 text-white hover:bg-[hsl(0_90%_62.5%)] dark:hover:bg-[hsl(0_60%_50%)]
}

.btn-outline {
  @apply border-1 border-neutral-500 text-neutral-700 dark:text-neutral-200
}

.btn-outline-danger {
  @apply border-1 border-red-400 text-red-600 dark:text-red-300
}

.fore {
  @apply text-neutral-500 dark:text-[#B3B3B3]
}

.gray {
  @apply text-neutral-700 dark:text-[#C2C2C2]
}

.gray-container-100 {
  @apply border border-neutral-300 dark:border-neutral-700 bg-neutral-100 dark:bg-neutral-800 rounded-2xl p-2
}

.tabs {
  @apply overflow-auto
}

.tab-list {
  @apply relative flex items-center gap-0.5 *:flex *:items-center *:gap-1.5 *:min-w-max *:p-2 *:data-selected:font-[500] *:not-data-selected:text-neutral-600 dark:*:not-data-selected:text-[#B3B3B3]
}

.tabs[data-orientation=horizontal] {
  @apply flex flex-col gap-2
}

.tabs[data-orientation=vertical] {
  @apply grid grid-cols-[1fr_auto] gap-x-2 *:px-3
}

.tabs[data-orientation=horizontal] .tab-list {
  @apply border-b-1
}

.tabs[data-orientation=vertical] .tab-list {
  @apply flex-col order-1 my-2 *:w-full
}

.tabs[data-orientation=vertical][data-list-pos=r] .tab-list {
  @apply border-l-1
}

.tabs[data-orientation=vertical][data-list-pos=l] .tab-list {
  @apply border-r-1 -order-1 *:justify-end
}

.tab-trigger {
  @apply min-w-max p-1.5 px-3 rounded-lg transition-colors duration-200
}

.tab-trigger[data-selected] {
  @apply bg-[hsl(0_0%_92%)] dark:bg-[hsl(0_0%_19%)]
}

.tab-indicator {
  @apply absolute h-[2px] !p-0 transition-all duration-100 ease-in-out
}

.tabs[data-orientation=horizontal] .tab-indicator {
  @apply -bottom-[1px]
}

.tabs[data-orientation=vertical] .tab-indicator {
  @apply !min-w-[2px] w-[unset]
}

.tabs[data-orientation=vertical][data-list-pos=r] .tab-indicator {
  @apply left-0
}

.tabs[data-orientation=vertical][data-list-pos=l] .tab-indicator {
  @apply right-0
}

.input-solid {
  @apply p-1 px-2 rounded-md border-1 border-neutral-300 dark:border-neutral-700 outline-1 outline-[transparent] bg-neutral-100 dark:bg-neutral-800 focus:outline-[currentColor] transition-colors
}

.input-dash {
  @apply border-b-1 outline-0 not-focus-within:border-dashed not-focus-within:border-[#c3c3c3] dark:not-focus-within:border-neutral-500 focus-within:border-neutral-900 dark:focus-within:border-white font-bold transition-colors
}

.dialog-content {
  @apply max-w-90 py-1 px-2 rounded-lg bg-white dark:bg-neutral-800 border-1 border-gray-200 dark:border-neutral-700 shadow-xl animate-[contentHide_.2s_ease-in-out_forwards] data-[expanded]:animate-[contentShow_.2s_ease-in-out]
}


.dialog-overlay {
  --ov-bg: rgba(0, 0, 0, 0.25);
}

.dark .dialog-overlay {
  --ov-bg: rgba(0, 0, 0, 0.6)
}

@keyframes overlayShow {
  to {
    background: var(--ov-bg);
  }
}

@keyframes overlayHide {
  from {
    background: var(--ov-bg);
  }

  to {
    background: none;
  }
}

.link {
  @apply text-sky-600 dark:text-sky-400
}

svg {
  height: 1.125em;
  width: auto;
}

svg:not([fill=none]) {
  fill: currentColor;
}

a,
a *,
button:not([disabled]),
button:not([disabled]) *,
label,
label *:not(input):not(textarea),
input[type='checkbox'],
input[type='radio'],
input[type='submit'],
input[type='reset'],
summary,
summary *,
::-webkit-calendar-picker-indicator,
::-webkit-search-cancel-button {
  cursor: pointer;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-text-fill-color: white;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  height: 9px;
  width: 9px;
}

::-webkit-scrollbar {
  background: hsl(0, 0%, 85%);
}

::-webkit-scrollbar-corner {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 65%);
}

::-webkit-scrollbar-thumb:active {
  background: hsl(0, 0%, 60%);
}

.dark::-webkit-scrollbar,
.dark ::-webkit-scrollbar {
  background: hsl(0, 0%, 20%);
}

.dark::-webkit-scrollbar-thumb,
.dark ::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 45%);
}

.dark::-webkit-scrollbar-thumb:active,
.dark ::-webkit-scrollbar-thumb:active {
  background: hsl(0, 0%, 50%);
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: scale(0.96);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes contentHide {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.96);
  }
}

.dark .date-picker-wrapper {
  background: hsl(0, 0%, 20%) !important;
  box-shadow: 0 4px 8px #0005 !important;
}